body {
    background: #aaa;
    display: flex;
    justify-content: center;
}

button, h1, p {
    text-transform: capitalize;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}